.col.content-list {
    padding:0 0.35rem;

    .card-panel {
        @extend .card-panel;
        color:#FFFFFF;
        padding:0px;
        
        >.section:nth-child(1) {

            .col {
                padding:0 1.5rem;
            }

            img {
                width:100%;
                border:solid 1px color('grey', 'darken-1');
            }
        }

        >.section:nth-child(2) {
            margin-top: -90px;
            padding-top: 55px;

            >.row {
                margin-bottom:0px;
            }

            .content-title, .content-artist {
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                font-weight:300;
            }

            .content-title {
                font-size:1.5rem;
            }

            button {
                @include border-radius(10px 10px);
                @extend .z-depth-1;
                font-size: 0.75rem;
                line-height: 1rem;
                padding: 0 15px;
                margin-top: 10px;
                background-color:#66BB6A;
                width:100%;
            }
        }
    }
}
