.container {
    margin-top:5pt;

    .categories {
        .col {
            padding:2pt;
            
            .category-wrapper {
                padding:2pt;
                background:color("light-blue", "lighten-2");
                transition:box-shadow .30s ease, background .30s ease;
                @include border-radius(2px);
                @extend .hoverable; 
                @extend .z-depth-1;
                &:hover {
                    background:color("light-blue", "lighten-1");
                };
            }
        }
        .cat-title {
            text-align:center;
            color:#FFF;
            font-weight:500;
            font-size:8pt;
        }
        .img-container {
            
            .img-wrapper {
                //height:100pt;
                margin:0px auto;
                //background:url("../images/NoImageIcon.jpg") 0pt; //Icon as the background.
                background-size:100%;
            }
        }
    }
}
