.content-detail {
    @extend .z-depth-2;
    //@include border-radius(5px);
    background:color('grey', 'lighten-2');

    .header {
        font-size: 1.25rem;
    }

    .hr {
        height:3px;
        background:color('grey', 'darken-2');
    }

    .detail {
        padding:10px;
        background:color('grey', 'lighten-1');
    }

    .confirm-label {
        background:color('grey', 'darken-2');
        padding:10px;
        color:#FFF;
        font-size:1rem;
    }

    .action-button {
        padding:0;

        .btn {
            background:color("light-blue", "darken-1");
        }
    }
}
