.modal-footer {
    button.btn {
        width:100%;
    }
}

.mobile-modal, .verif-modal {
    .modal-content {
        label {
            width:100%;
        }
    }

    .modal-footer {
        button.btn {
            @include border-radius(20px);
            background: #7BC570;
            font-weight: 400;
        }
    }
}

.description-modal {
    .modal-content {
        padding:15px;

        .section {
            padding:0;
            font-weight:300;
        }

        .content-title {
            font-size:1.25rem;
        }

        .content-creator {
            font-size:1rem;
        }

        .content-description {
            margin-top:1.25rem;
        }
    }

    .modal-footer {
        button.btn {
            @include border-radius(20px);
            background:#7BC570;
            padding:0 10px;
        }
    }
}
