.modal-footer {
    button.btn {
        width:100%;
    }
}

.description-modal {
    .modal-content {
        padding:15px;

        .section {
            padding:0;
            font-weight:300;
        }

        .content-title {
            font-size:1.25rem;
        }

        .content-creator {
            font-size:1rem;
        }

        .content-description {
            margin-top:1.25rem;
        }
    }

    .modal-footer {
        button.btn {
            background:#66BB6A;
            border-radius:15px;
            padding:0 10px;
        }
    }
}
