nav {
    .nav-wrapper {
        padding: 0 0.5rem;
        background: -moz-linear-gradient(left, rgba(21,160,175,1) 0%, rgba(56,141,187,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(21,160,175,1)), color-stop(100%, rgba(56,141,187,1)));
        background: -webkit-linear-gradient(left, rgba(21,160,175,1) 0%, rgba(56,141,187,1) 100%);
        background: -o-linear-gradient(left, rgba(21,160,175,1) 0%, rgba(56,141,187,1) 100%);
        background: -ms-linear-gradient(left, rgba(21,160,175,1) 0%, rgba(56,141,187,1) 100%);
        background: linear-gradient(to right, rgba(21,160,175,1) 0%, rgba(56,141,187,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15a0af', endColorstr='#388dbb', GradientType=1 );

        .side-nav {
            background: #00A3D3;
            margin-top:4rem;
            height:100%;

            li>a {
                color:#FFFFFF;
                font-size:1.25rem;
                font-weight:400;
            }
        }
    }
}
