.category {

    .swiper-container {
        .swiper-wrapper {
            background:#FFFFFF;
            
        }
    }

    .swiper-container-horizontal {
        .swiper-pagination {
            bottom:0px;
            position:relative;
        }
    }
}
