.waves-effect {
    @extend .waves-effect;
    &.waves-blue .waves-ripple {
        background-color:rgba(0, 148, 255, 0.25);
    }
}

.category {

    >.row {
        @include box-shadow-2(0px 2px 2px 0 rgba(0, 0, 0, 0.15), 0px 2px 2px 0 rgba(0, 0, 0, 0.3));
        margin-left:-1.25rem;
        margin-right:-1.25rem;
    }

    .category-header {
        background:#FFFFFF;
        margin-bottom:0;
        padding-top:10px;

        .header-title {
            font-size: 1.5rem;
        }

        a {
            @include border-radius(20px);
            color: #FFFFFF;
            font-size:0.8rem;
            padding:0 1rem;
            width:100%;
            height:2rem;
            line-height:2rem;
            background-color:#009CD0;
        }
    }

    .category-content {
        color:#FFFFFF;
        background:#FFFFFF;

        .col {
            padding:0;
        }
    }

    .swiper-container-horizontal {

        .swiper-wrapper {

            .swiper-slide-active {
                z-index:2;
            }

            .row {
                margin-bottom:0;

                &.Full.Track.Music {
                    background: #00A3D3;
                    background: -moz-linear-gradient(left, #00A3D3 0%, #0065BA 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, #00A3D3), color-stop(100%, #0065BA));
                    background: -webkit-linear-gradient(left, #00A3D3 0%, #0065BA 100%);
                    background: -o-linear-gradient(left, #00A3D3 0%, #0065BA 100%);
                    background: -ms-linear-gradient(left, #00A3D3 0%, #0065BA 100%);
                    background: linear-gradient(to right, #00A3D3 0%, #0065BA 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15a0af', endColorstr='#388dbb', GradientType=1 );
                }
                &.Sticker {
                    background: #FF7400;
                    background: -moz-linear-gradient(left, #FF7400 0%, #FF9100 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, #FF7400), color-stop(100%, #FF9100));
                    background: -webkit-linear-gradient(left, #FF7400 0%, #FF9100 100%);
                    background: -o-linear-gradient(left, #FF7400 0%, #FF9100 100%);
                    background: -ms-linear-gradient(left, #FF7400 0%, #FF9100 100%);
                    background: linear-gradient(to right, #FF7400 0%, #FF9100 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15a0af', endColorstr='#388dbb', GradientType=1 );
                }
            }

            .row:first-child {
                margin-top:5rem;

                img {
                    margin-top:-4rem;
                    width:100%;
                    border:solid 1px color('grey', 'darken-1');
                }
            }

            .row:last-child {
                padding:10px 0;
            }

            .content-title {
                display:block;
                font-size:1.5rem;
                text-overflow:ellipsis;
                white-space:nowrap;
                padding:10px 10px 0 10px;
            }

            .content-creator {
                display:block;
                font-size:1rem;
                padding:0 10px;
            }

            button {
                background-color: color('green', 'lighten-1');
                font-weight:400;
                width:100%;
            }
        }

        .swiper-pagination {
            bottom:0px;
            position:relative;
        }
    }
}
