<div id="mobile-modal" class="modal mobile-modal" ng-controller="verify">
    <div class="modal-content">
        <div class="row">
            <div class="col s12"><h5>Please enter your mobile number</h5></div>
            <div class="input-field col s12">
                <input type="tel" id="msisdn" ng-model="msisdn" with-error>
                <label for="msisdn" data-error>Mobile Number</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="submit_mobile($event)">Submit</button>
    </div>
</div>

<div id="verif-modal" class="modal verif-modal" ng-controller="verify">
    <div class="modal-content">
        <div class="row">
            <div class="col s12"><h5>Please enter the verification code</h5></div>
            <div class="input-field col s12">
                <input type="text" id="verification_code" ng-model="verif_code" with-error>
                <label for="verification_code">Verification Code</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="submit_verification($event)">Submit</button>
    </div>
</div>
